*{margin: 0; padding: 0; box-sizing: border-box; }

html, body {
	height: 99%;
	width: 100%;
	text-align: center;
}

#block{
	float: left;
	height: 100%;
	width: 48%;
}

#block2{
	float: right;
	height: 100%;
	width: 50%;
}

canvas{
	border: 1px solid black;
}

form{
	width: 400px;
	height: 255px;
	margin: auto;
}

form label{
	display: inline-block;
	margin: 10px auto;
}

table, tr, td{
	border: 1px solid #000;
}

table{
	margin: auto;
}
